03-practicals/task-01.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" targetNamespace="http://tempuri.org/">
   <wsdl:documentation> This is the task 01 </wsdl:documentation>
   <!-- types (0,1) -->
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" elementFormDefault="qualified">
         <xs:element name="Add">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int" />
                  <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="AddResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="1" maxOccurs="1" name="AddResult" type="xs:int" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>

   <!-- messages (0,*) -->

   <wsdl:message name="AddRequestMessage">
      <wsdl:part name="parameters" element="tns:Add" />
   </wsdl:message>

   <wsdl:message name="AddResponseMessage">
      <wsdl:part name="parameters" element="tns:AddResponse" />
   </wsdl:message>

   <!-- port types (0,*) -->
   <wsdl:portType name="AddPortType">
      <wsdl:operation name="AddOperation">
         <wsdl:input message="tns:AddRequestMessage" />
         <wsdl:output message="tns:AddResponseMessage" />
      </wsdl:operation>
   </wsdl:portType>

   <!-- bindings (0,*) -->
   <wsdl:binding name="AddBinding" type="tns:AddPortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="AddOperation">

         <wsdlsoap:operation soapAction="http://tempuri.org/Add" />

         <wsdl:input>
            <wsdlsoap:body use="literal" />
         </wsdl:input>

         <wsdl:output>
            <wsdlsoap:body use="literal" />
         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <!-- services (0,*) -->
   <wsdl:service name="AddService">
      <wsdl:port binding="tns:AddBinding" name="Add">
         <wsdlsoap:address location="http://www.dneonline.com/calculator.asmx" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>