03-wsdl/lawsuite.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://lawsuite.kyjovsm.mff.cuni.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://lawsuite.kyjovsm.mff.cuni.cz/">

    <xs:element name="archiveClient" type="tns:archiveClient"/>

    <xs:element name="archiveClientResponse" type="tns:archiveClientResponse"/>

    <xs:element name="processClient" type="tns:processClient"/>

    <xs:element name="processClientResponse" type="tns:processClientResponse"/>

    <xs:element name="registerNewClient" type="tns:registerNewClient"/>

    <xs:element name="registerNewClientResponse" type="tns:registerNewClientResponse"/>

    <xs:element name="reviewClientsData" type="tns:reviewClientsData"/>

    <xs:element name="reviewClientsDataResponse" type="tns:reviewClientsDataResponse"/>

    <xs:complexType name="archiveClient">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="archiveClientResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reviewClientsData">
        <xs:sequence>
            <xs:element name="arg0" type="tns:report" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="report">
        <xs:sequence>
            <xs:element name="client" type="tns:client" minOccurs="0"/>
            <xs:element name="issuedClaims" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reportId" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="tns:reportStatus" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="client">
        <xs:sequence>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="clientState" type="tns:clientState" minOccurs="0"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reviewClientsDataResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processClient">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processClientResponse">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="registerNewClient">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registerNewClientResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="clientState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEW_REGISTRATION"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="PROCESSED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="reportStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TODO"/>
            <xs:enumeration value="DATA_MISSING"/>
            <xs:enumeration value="QUALIFIED"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
