03-wsdl/lawsuite.xml

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lawsuite.kyjovsm.mff.cuni.cz/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://lawsuite.kyjovsm.mff.cuni.cz/"
             name="LawSuiteImplService">
    <types>
        <xs:schema xmlns:tns="http://lawsuite.kyjovsm.mff.cuni.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   version="1.0"
                   targetNamespace="http://lawsuite.kyjovsm.mff.cuni.cz/">

            <xs:element name="archiveClient" type="tns:archiveClient"/>

            <xs:element name="archiveClientResponse" type="tns:archiveClientResponse"/>

            <xs:element name="processClient" type="tns:processClient"/>

            <xs:element name="processClientResponse" type="tns:processClientResponse"/>

            <xs:element name="registerNewClient" type="tns:registerNewClient"/>

            <xs:element name="registerNewClientResponse" type="tns:registerNewClientResponse"/>

            <xs:element name="reviewClientsData" type="tns:reviewClientsData"/>

            <xs:element name="reviewClientsDataResponse" type="tns:reviewClientsDataResponse"/>

            <xs:complexType name="archiveClient">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="archiveClientResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="reviewClientsData">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:report" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="report">
                <xs:sequence>
                    <xs:element name="client" type="tns:client" minOccurs="0"/>
                    <xs:element name="issuedClaims" type="xs:string" nillable="true" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="reportId" type="xs:string" minOccurs="0"/>
                    <xs:element name="status" type="tns:reportStatus" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="client">
                <xs:sequence>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="clientState" type="tns:clientState" minOccurs="0"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="reviewClientsDataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="processClient">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="processClientResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="registerNewClient">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registerNewClientResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="clientState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NEW_REGISTRATION"/>
                    <xs:enumeration value="IN_PROGRESS"/>
                    <xs:enumeration value="PROCESSED"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="reportStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TODO"/>
                    <xs:enumeration value="DATA_MISSING"/>
                    <xs:enumeration value="QUALIFIED"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>

    </types>
    <message name="processClient">
        <part name="parameters" element="tns:processClient"/>
    </message>
    <message name="processClientResponse">
        <part name="parameters" element="tns:processClientResponse"/>
    </message>
    <message name="registerNewClient">
        <part name="parameters" element="tns:registerNewClient"/>
    </message>
    <message name="registerNewClientResponse">
        <part name="parameters" element="tns:registerNewClientResponse"/>
    </message>
    <message name="reviewClientsData">
        <part name="parameters" element="tns:reviewClientsData"/>
    </message>
    <message name="reviewClientsDataResponse">
        <part name="parameters" element="tns:reviewClientsDataResponse"/>
    </message>
    <message name="archiveClient">
        <part name="parameters" element="tns:archiveClient"/>
    </message>
    <message name="archiveClientResponse">
        <part name="parameters" element="tns:archiveClientResponse"/>
    </message>
    <portType name="LawSuite">
        <operation name="processClient">
            <input message="tns:processClient"/>
            <output message="tns:processClientResponse"/>
        </operation>
        <operation name="registerNewClient">
            <input message="tns:registerNewClient"/>
            <output message="tns:registerNewClientResponse"/>
        </operation>
        <operation name="reviewClientsData">
            <input message="tns:reviewClientsData"/>
            <output message="tns:reviewClientsDataResponse"/>
        </operation>
        <operation name="archiveClient">
            <input message="tns:archiveClient"/>
            <output message="tns:archiveClientResponse"/>
        </operation>
    </portType>
    <binding name="LawSuiteImplPortBinding" type="tns:LawSuite">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="processClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registerNewClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reviewClientsData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="archiveClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="LawSuiteImplService">
        <port name="LawSuiteImplPort" binding="tns:LawSuiteImplPortBinding">
            <soap:address location="http://127.0.0.1:8000/LawSuite"/>
        </port>
    </service>
</definitions>