03-wsdl/ocr.xml

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ocr.kyjovsm.mff.cuni.cz/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ocr.kyjovsm.mff.cuni.cz/"
             name="OCRImplService">
    <types>
        <xs:schema xmlns:tns="http://ocr.kyjovsm.mff.cuni.cz/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://ocr.kyjovsm.mff.cuni.cz/">
            <xs:element name="compute" type="tns:compute"/>
            <xs:element name="computeResponse" type="tns:computeResponse"/>
            <xs:element name="getTaskResult" type="tns:getTaskResult"/>
            <xs:element name="getTaskResultResponse" type="tns:getTaskResultResponse"/>
            <xs:complexType name="compute">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="computeResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTaskResult">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTaskResultResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:taskResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="taskResult">
                <xs:sequence>
                    <xs:element name="metadata">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="key" minOccurs="0" type="xs:string"/>
                                            <xs:element name="value" minOccurs="0" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="resultSet">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="key" minOccurs="0" type="xs:string"/>
                                            <xs:element name="value" minOccurs="0" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="taskId" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="compute">
        <part name="parameters" element="tns:compute"/>
    </message>
    <message name="computeResponse">
        <part name="parameters" element="tns:computeResponse"/>
    </message>
    <message name="getTaskResult">
        <part name="parameters" element="tns:getTaskResult"/>
    </message>
    <message name="getTaskResultResponse">
        <part name="parameters" element="tns:getTaskResultResponse"/>
    </message>
    <portType name="OCR">
        <operation name="compute">
            <input message="tns:compute"/>
            <output message="tns:computeResponse"/>
        </operation>
        <operation name="getTaskResult">
            <input message="tns:getTaskResult"/>
            <output message="tns:getTaskResultResponse"/>
        </operation>
    </portType>
    <binding name="OCRPortBinding" type="tns:OCR">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="compute">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTaskResult">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="OCRService">
        <port name="OCRPort" binding="tns:OCRPortBinding">
            <soap:address location="http://127.0.0.1:8000/OCR"/>
        </port>
    </service>
</definitions>